@page "/validation"
@inject IStringLocalizer<Validation> Localizer

<div class="page-title" role="heading">
    @Localizer["PageTitle"]
</div>

<section class="content-section">
    <DropZone Label="@Localizer["DropZoneLabel"]"
              OnFileDropped="@HandleDroppedFile"
              AllowMultiple="false"/>
    Number of dropped files: @NumFiles<br/>
    Name: @Name<br />
    Head: @Head
</section>
