@page "/validation"
@inject IStringLocalizer<Validation> Localizer

<div class="page-title" role="heading">
    @Localizer["PageTitle"]
</div>

<section class="content-section">
    <DropZone OnFileDropped="@ValidateDroppedFile"
              AllowMultiple="false"
              DefaultLabel="@Localizer["DefaultLabel"]"
              BusyLabel="@Localizer["BusyLabel"]"
              CompleteLabel="@Localizer["CompleteLabel"]"
              CompleteLabelDisplayTime="5000" />
</section>
